{% extends "base.html" %}

{% block title %}Login | SecurePayX{% endblock %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <div class="auth-logo">◆</div>

        <p class="eyebrow">SECURE ACCESS</p>

        <h1>Welcome back</h1>

        <p class="auth-subtitle">
            Sign in to your SecurePayX account.
        </p>

        <form method="POST">

            <label>Username</label>

            <input
                type="text"
                name="username"
                placeholder="Enter username"
                required
            >

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter password"
                required
            >

            <button type="submit" class="primary-button full">
                Secure Login →
            </button>

        </form>

        <p class="auth-footer">
            Don't have an account?
            <a href="{{ url_for('register') }}">Create one</a>
        </p>

    </div>

</div>

{% endblock %}